<!DOCTYPE html>
<head>
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
     <div style=" margin: 10px; border: 3px solid; border-radius: 10px; height: 500px;">
          <div style=" margin: 10px;">
               <h1> Hi {{fname}} </h1>
               <h2> Welcome to #ChitChatCity homepage! </h1>
               <h3> Choose the ChatRoom you want to join :</h3>
               <div>
                    <div class="dropdown" style="width: 725px;">
                         <a href="../Action/samtab">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Action</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Adventure</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Animation</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Biography</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Comedy</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Crime</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Documentary</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Drama</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Family</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Fantasy</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">FilmNoir</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">History</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Horror</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Music</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Musical</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Mystery</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Romance</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">SciFic</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Sport</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Thriller</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">War</h4>
                              </div>
                         </a>
                         <a href="#">
                              <div style=" float: left; margin: 10px 10px 10px 0px; border: 3px solid; border-radius: 10px;">
                                   <h4 style="margin: 5px">Western</h4>
                              </div>
                         </a>
                    </div>
               </div>
          </div>
     </div>
</body>
